---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
<article>
	<ul>
		<li><a href="/landingpage1">Landing page 1</a></li>
		<li><a href="/landingpage2">Landing page 2</a></li>
		<li><a href="/landingpage3">Landing page 3</a></li>
	</ul>
</article>
</Layout>

<style>
	article {
		display: flex;
		place-items: center;
		background-color: white;
		height: 200px;
	}
	article > ul {

	}
	article > ul > li {

	}
</style>
