---
const {buttonVariant, buttonText, buttonLink} = Astro.props;
---

<button data-variant={buttonVariant}>
    <a href={buttonLink}>{buttonText}</a>
</button>

<style>
button {
    border-radius: 0.4rem;
    width: fit-content;
    height: 56px;
}
button a {
    margin: 1rem;
    padding: 1rem;
    color: white;
    font-weight: bolder;
}
a, a:active, a:visited, a:any-link {
    font-size: 1rem;
    text-decoration: none; 
}
[data-variant="primary"] {
    background-color: var(--ca_blue_dark);
    border: none;
    color: var(--ca_supp_beige)  
}
[data-variant="secondary"] {
    background-color: var(--ca_supp_lbeige);
    border: 2px solid var(--ca_blue_darker);
    color: var(--ca_blue_dark);
}
</style>