---

---

<footer class="fwrap">
    <div class="link-container">
        <ul>
            <li><a href="https://www.ca.dk">Om CA</a></li>
            <li><a href="https://www.ca.dk">Kontakt</a></li>
            <li><a href="https://www.ca.dk">Nyheder</a></li>
            <li><a href="https://www.ca.dk">Nyhedsbrev</a></li>
        </ul>
        <ul>
            <li><a href="https://www.ca.dk">Studiepartner</a></li>
            <li><a href="https://www.ca.dk">Instant feedback</a></li>
            <li><a href="https://www.ca.dk">Løntjek</a></li>
        </ul>
        <ul>
            <li><a href="https://www.ca.dk">Persondatapolitik</a></li>
            <li><a href="https://www.ca.dk">Cookiepolitik</a></li>
            <li><a href="https://www.ca.dk">Tilgænglighedsforklaring</a></li>
        </ul>
        <div>
            <p>Telefon hverdage 8.30 - 15.00</p>
            <a href="https://www.ca.dk"><h3>3314 9045</h3></a>
            <a href="https://www.ca.dk">Send en besked</a>
        </div>
    </div>
    <div class="logo-section">
        <div class="logo-container">
            <img src="media/image/ca_logo.svg" alt="CA - A-kassen for dig!">
            <img src="media/image/trustpilot.svg" alt="Trustpilot anmeldelser alle kan stole på!">
            <img src="media/image/ca_connect.svg" alt="Kobles sammen med vejledere">
            <img src="media/image/ca_studie.svg" alt="Studiepartner og vejledning">
        </div>
    </div>
</footer>
<style>
.fwrap {
    display: grid;
    margin-top: 25px;
    width: 100%;
    color: var(--color_gray_50);
}
.fwrap ul {
}
.fwrap ul li {
    list-style: none;
    margin: 1rem;
}
.link-container {
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.link-container div {
    margin: 1rem;
}
.logo-section {
display: grid;
padding: 1rem;
width: 100%;

}
.logo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2rem;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    mix-blend-mode:darken;
    & img {
        width: 100%;
        height: 100%;
        object-fit: fill
    }
}

</style>