---
---

<div class="fwrap">
    <ul>
        <li><h3>Om CA</h3></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul>
        <li><h3>Om CA</h3></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<style>
.fwrap {
    display: flex;
    flex-direction: row;
    background-color: var(--ca_blue_norm);
}
</style>