---
---

<div>
    <h2>Dit næste karrieretrin begynder her
        Eksklusive fordele kun for dig som CA A-kasse medlem!</h2>
    <h3>Få mest muligt ud af dine medlemsfordele og lad os sammen forme din vej mod endnu større succes. 
        CA A-kasse er ikke bare en service, det er din partner i professionel udvikling!</h3>
</div>

<style>
    div {
        text-wrap: balance;
        text-align: center;
        white-space: pre-line;
    }
    h2 {
        color: var(--ca_blue_norm);
    }
    h3 {
   margin-top: 1rem;
   margin-bottom: 1rem;
   color: black;
  }
</style>