---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="CA A-kasse - Your Trusted Partner for Unemployment Insurance. Explore our services and benefits to secure your financial future." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content="Astro" />
		<title>CA A-kasse - Unemployment Insurance Services</title>
		<!-- Add more meta tags as needed for your content -->
		<meta name="keywords" content="CA A-kasse, unemployment insurance, financial security, job loss protection" />
		<meta name="author" content="CA A-kasse" />
		<meta name="robots" content="index, follow" />
		<!-- Open Graph meta tags for better social media sharing -->
		<meta property="og:title" content="CA A-kasse - Unemployment Insurance Services" />
		<meta property="og:description" content="Your Trusted Partner for Unemployment Insurance. Explore our services and benefits to secure your financial future." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.ca.dk/" />
		<!-- Instagram Card meta tags for Instagram sharing -->
		<meta name="instagram:CA A-kasse" content="CA A-kasse - Unemployment Insurance Services" />
		<meta name="instragram:description" content="Your Trusted Partner for Unemployment Insurance. Explore our services and benefits to secure your financial future." />
		<!-- Facebook Card meta tags for facebook sharing -->
		<meta name="facebook:CA A-kasse" content="CA A-kasse - Unemployment Insurance Services" />
		<meta name="facebook:description" content="Your Trusted Partner for Unemployment Insurance. Explore our services and benefits to secure your financial future." />
	</head>
	<body>
	<Header />
		<main>
			<slot />
		</main>
	<Footer />
	</body>
</html>
<style>
body {
	max-width: 1600px;
	margin: auto;
}
</style>
