---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="apple-touch-icon" sizes="180x180" href="media/image/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="media/image/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="media/image/favicon-16x16.png">
		<link rel="manifest" href="media/image/site.webmanifest">
		<meta name="generator" content="Astro" />
		<title>CA - A-kassen for dig</title>
		<meta name="description" content="CA - Din betroede partner og A-kasse inden for arbejdsløshedsforsikring. 
		Udforsk vores services og fordele for at sikre din økonomiske fremtid" />
		<meta name="keywords" content="CA, A-kasse, forsikring mod arbejdsløshed, økonomisk sikkerhed, beskyttelse mod tab af job, 
		arbejdsløshedsunderstøttelse, beskæftigelsessikring, jobtabssikring, økonomisk beskyttelse, ledighedsforsikring, jobsikkerhed, 
		karrierestøtte, indkomstbeskyttelse, ubeskæftigelsesforsikring, karriererådgivning" />
		<meta name="author" content="CA A-kasse" />
		<meta name="robots" content="index, follow" />
		<meta property="og:title" content="CA - A-kassen til det der giver mening" />
		<meta property="og:description" content="Din betroede partner og A-kasse inden for arbejdsløshedsforsikring. 
		Udforsk vores services og fordele for at sikre din økonomiske fremtid" />
		<meta property="og:type" content="website" />
		<meta property="og:video" content="https://www.youtube.com/watch?v=WX5UOnpCEsU"/>
		<meta property="og:site_name" content="CA A-kasse" />
		<meta property="og:locale" content="da_DK"/>
		<meta property="og:url" content="https://www.ca.dk/" />
		<meta property="og:img" content="
		https://www.ca.dk/media/rcahyewg/mgl.png?anchor=center&mode=crop&width=850&height=700&rnd=133226762267130000"/>
		<meta name="instagram:CA A-kasse" content="CA A-kasse - Din partner for sikkerhed ved jobtab og økonomisk stabilitet" />
		<meta name="instagram:description" content="Opdag vores services, der styrker din økonomiske fremtid 
		med vores pålidelige A-kasse." />
		<meta name="facebook:CA A-kasse" content="CA A-kasse - Din partner for sikkerhed ved jobtab og økonomisk stabilitet" />
		<meta name="facebook:description" content="Udforsk vores skræddersyede services for at sikre din økonomiske fremtid med 
		vores pålidelige A-kasse." />
		
	</head>
	<body>
	<Header />
		<main>
			<slot />
		</main>
	<Footer />
	</body>
</html>
<style>
body {
	max-width: 1600px;
	margin: auto;
}
</style>
